*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;
    outline: revert;
}

:root {
    /* Primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsla(227, 10%, 46%, 0.8);
    /* Neutral */
    --dark-gray: hsl(0, 5%, 88%);
}

html {
    font-family: Kumbh Sans, sans-serif;
}

/* Typography Styles */

.card__name,
.card__stats-number {
    font-weight: 750;
    color: var(--very-dark-desaturated-blue);
}

.card__age,
.card__country {
    font-weight: 505;
    color: var(--dark-grayish-blue);
}

.card__stats-text {
    font-weight: 498;
    font-size: 0.65625rem;
    letter-spacing: 0.0875rem;
    color: var(--dark-grayish-blue);
}

.card__name,
.card__age,
.card__stats-number {
    font-size: 1.125rem;
}

.card__country {
    font-size: 0.90625rem;
}

/* General CSS */

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
}

.card {
    position: relative;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card__profile-image {
    width: 105px;
    height: 105px;
    position: absolute;
    border-radius: 100px;
    border: 5px solid #ffffff;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
}

.card__profile-details {
    height: 140px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card__profile-details-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card__profile {
    height: 140px;
    width: 140px;
    border-radius: 100px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}

.card__user {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card__stats {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid var(--dark-gray);
    gap: 64px;
}

.card__stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/*
- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700. Note: This is not really accurate, I had to tweak it.
- Font size (name and stats): 18px. Note: This is not really accurate, I had to tweak it.
- Mobile: 375px
- Desktop: 1440px
*/
